/* h1 {
    color: pink;
    background-color: black;
    font-size:80px;
}
h2{
    color:blue;
    background-color: white;
    font-size:50px;
}

body{
     
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  background-color:white;
  color:black;
}
table{
    color:blue;
    background-color: black;
    font-size:50px;
} */

/* .t_align{
    text-align: center;
    color:red;
    background-color: black;
    font-size: 60px;
    text-transform: capitalize;

}

.t_trasnform{
    text-align: center;
    color:rgb(58, 206, 0);
    text-transform: uppercase;
}

#t_decorate{
    text-decoration: underline;
}

.t_bold{
    text-shadow: 4px 6px 8px yellow;
    text-align: center;
    text-transform: uppercase;
}

#t{
    text-align: center ;
    text-decoration: underline;
    text-transform: uppercase;
    text-shadow: 6px 0px 0px pink;
    text-transform: uppercase;
}

#lorem_p{
    text-transform: uppercase;
    text-shadow: 4px 4px 6.5px red;
}
.t_edit{
    color:peru;
    background-color: black;
    text-transform: uppercase;
    text-decoration: underline;
    text-align: center;
}


.t_decor_all{
     text-decoration: underline overline line-through;
    color:red;
    text-align: center;
}

.t_decor_2{
    text-decoration: overline;
}
.t_decor_1{
    color:red;
    text-decoration: overline;
    text-decoration: line-through;
    text-align: center;
    text-decoration: underline;
}

body{
    background-color:whitesmoke;
}

.t_decor_underline{
    text-decoration: overline;
    text-align: center;

}

.t_decor_overline{
    text-decoration: underline;
    text-align: center;

}

.t_decor_linethrough{
    text-align: center;
    text-decoration: line-through;
} */

.t_align{
    text-align: center;
    color:aquamarine;
    text-transform: capitalize;
}
.t_transform{
    text-transform: capitalize;
    color:black;
}
#t_transform1{
    text-transform: capitalize;
    background-color: yellow;
}

.t_cc{
    text-align: center;
    color:brown;
}

.t_cb{
    text-align: center;
    font-size: 50px;
    color:blue;

}

.t_decor{
    text-align: center;
    color:chocolate;
    font-size: 40px;
    text-decoration: underline;
    text-transform: capitalize;
}
.t_u{
    text-decoration: overline;
    text-transform: capitalize;
}

.t_line{
    text-decoration: line-through;

}

.c_ct{
    text-transform: uppercase;
    text-align: center;
    /* background-color: cadetblue; */
}

.c_bc{
    text-transform: capitalize;
    /* background-color: bisque; */
}

.backc{
    background-color:silver;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQwO0wY2zmLQ-AFOwPUfj_GWNfC4AVxIUeIKEocoo0a9g&s=10);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}  

.footer{
    text-align: center;
    text-transform: uppercase;

}

.t_center{
    text-align: center;
}